.row>*{
    padding: 0 6px;
}
.ungu-1{
    width: 100%;
    height: 100px;
    background-color: rgb(150, 47, 47);
    margin-bottom: 15px;
    border-radius: 15px;
}
.ungu-2{
    width: 100%;
    height: 100px;
    background-color: rgb(154, 125, 50);
    margin-bottom: 15px;
    border-radius: 15px;
}

.ungu-3{
    width: 100%;
    height: 100px;
    background-color: rgb(161, 199, 46);
    margin-bottom: 15px;
    border-radius: 15px;
}

.ungu-4{
    width: 100%;
    height: 330px;
    background-color: rgb(38, 221, 142);
    margin-bottom: 15px;
    border-radius: 15px;
}
.ungu-5{
    width: 100%;
    height: 100px;
    background-color: rgb(51, 49, 185);
    margin-bottom: 15px;
    border-radius: 15px;
}
.ungu-6{
    width: 100%;
    height: 100px;
    background-color: rgb(117, 44, 206);
    margin-bottom: 15px;
    border-radius: 15px;
}
.ungu-7{
    width: 100%;
    height: 100px;
    background-color: rgb(215, 149, 149);
    margin-bottom: 15px;
    border-radius: 15px;
}
.ungu-8{
    width: 100%;
    height: 100px;
    background-color: rgb(100, 134, 17);
    margin-bottom: 15px;
    border-radius: 15px;
}
.ungu-9{
    width: 100%;
    height: 100px;
    background-color: rgb(20, 157, 164);
    margin-bottom: 15px;
    border-radius: 15px;
}