p{
    /* color: rgb(195, 24, 24);
    font-size: 50px;
    text-align: left;
    color: #000000;
    color: #ffffff;
    color: #0fdd0f;
    background-color: bisque;
    width: 1000px;
    height: 300px;
    /*  
    font-size: Текстийн хэмжээ өөрчлөх
    color: өнгө өөрчлөх
    text-align: текстийн байршил center, right, left
    text-transform: Үсгийн size том, жижиг 
    border: өргөх PX, зураасны нэршил, өнгө
    */ 

}
h1{
    /* color: tomato;
    text-transform: lowercase;
    font-weight: bolder;
    border: 1px dotted #853232;
    border-bottom: 2px solid #0fdd0f;
    border-left: 3px dotted #000000;
    border-right: 4px dotted red;
    border-top: 5px solid yellow;
    text-align: center;
    background-color: aqua;
    width: 200px;
    height: 100px; */
}
img.zurag{
    width: 200px;
    height: 200px;
    object-fit: cover;
    background-color: #000000;
    /* object-fit: contain, cover */
    border: 2px solid brown;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
h2{
    text-transform: uppercase;
    text-align: center;
}
h4{
    color: #a94720;

}
p.a1{
    color: red;
    width: 500px;
    text-align: justify;
}
p.a2{
    color: fuchsia;
}
a.btn{
    text-decoration: none;
    background-color: #0fdd0f;
    color: #000000;
    padding: 10px;
    border-radius: 10px;

}
img.z1{
    width: 600px;
    height: 200px;
    object-fit: cover;
    border: 0.5px solid white;
}
h2{
    text-align: left;
    text-transform: inherit;
}
p.p1{
    color: grey;
    width: 600px;
    text-align: justify;
}
a.link1{
    background-color: aquamarine;
    /* padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px; */
    padding: 10px 50px;
    text-decoration: none;
    border-radius: 5%;
    display: block;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    color: rgb(204, 56, 56);
}
img.z2{
    width: 20px;
    height: 15px;
}
